/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.ng-invalid:not(form){
	border-left: 5px solid red;
}

.ng-valid:not(form){
	border-left: 5px solid green;
}

 /* Navigation link styles */
/*  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }*/
  nav a:visited, a:link {
    color: #607D8B;
  }
  /*nav a:hover {
    color: #000000;
    background-color: #CFD8DC;
  }*/
  
  nav a.active {
    color: #039be5;
  }

a {
    cursor: pointer;
    cursor: hand;
  }